* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.head h2 a {
    left: 50px;
    color: black;
    font-size: 20px;
    position: absolute;
    top: 30px;
}

.navbar ul {
    right: 60px;
    margin-left: 800px;
    position: absolute;
    top: 30px;
}

.navbar li {
    display: inline;
}

.navbar li a {
    margin: 20px;
    color: black;
    font-size: 20px;
}

.price-page {
    margin: 200px 0 0 0;
    text-align: center;
}

.price-page h1 {
    font-size: 70px;
}

.price-page p {
    color: #808080;
    font-size: 20px;
}

.price-page h1,
p {
    padding: 10px 0;
}

.annual {
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin: 0 530px;
    font-size: 20px;
    background: #ebe9e9;
}

.annual .p1 {
    background-color: #fff;
    border-radius: 8px;
    padding: 0 15px 0 15px;
}

.annual .p1,
.p2 {
    display: inline-block;
    cursor: pointer;
}

.card-1 {
    margin: 50px 30px 20px 150px;
    height: 420px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 8px 4px #cecccc;
}

.card-1 p {
    padding: 20px 30px;
    color: #807f7f;
    font-size: 20px;
}

span {
    font-size: 50px;
}

.card-1 h4 {
    padding: 0px 30px;
    font-size: 20px;
}

.card-1 ul li {
    padding: 9px;
}

.card-1 ul {
    color: grey;
    padding: 30px 80px;
    font-size: 25px;
}

.card-2 {
    margin: -440px 30px 0 500px;
    height: 420px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 8px 4px #cecccc;
}

.card-2 p {
    padding: 20px 30px;
    color: #807f7f;
    font-size: 20px;
}

span {
    font-size: 50px;
}

.card-2 h4 {
    padding: 0px 30px;
    font-size: 20px;
}

.card-2 ul li {
    padding: 9px;
}

.card-2 ul {
    color: grey;
    padding: 30px 80px;
    font-size: 25px;
}

.card-3 {
    margin: -420px 30px 0 850px;
    height: 420px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 8px 4px #cecccc;
}

.card-3 p {
    padding: 20px 30px;
    color: #807f7f;
    font-size: 20px;
}

span {
    font-size: 50px;
}

.card-3 h4 {
    padding: 0px 30px;
    font-size: 20px;
}

.card-3 ul li {
    padding: 9px;
}

.card-3 ul {
    color: grey;
    padding: 30px 80px;
    font-size: 25px;
}

button {
    width: 180px;
    margin: 0 0 0 50px;
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.faq {
    position: absolute;
    top: 950px;
    left: 150px;
}

.faq h1{
    font-size: 50px;
}

.faq p {
    padding: 30px 0px;
    font-size: 25px;
}

.faq .plus-1 {
    position: absolute;
    top: 70px;
    right: -100px;
    font-size: 40px;
}

.faq .plus-2 {
    position: absolute;
    top: 250px;
    right: -100px;
    font-size: 40px;
}

.faq .plus-3 {
    position: absolute;
    top: 330px;
    right: -100px;
    font-size: 40px;
}

.foot a h1 {
    position: absolute;
    color: black;
    font-size: 20px;
    margin: 20px 0 0 100px;
}

.social-links {
    position: absolute;
    margin: 170px 0 0 100px;
}

.social-links .fa-xl {
    font-size: 1.8em;
    margin-left: 15px;
    color: #565555;
}

.topic-page {
    margin: 0px 0px 20px 800px;
}